<!DOCTYPE html>
<html lang="py-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcular Hipotenusa</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Calcular Hipotenusa</h1>
        <form action="/calcular" method="post">
            <label for="cateto1">Cateto 1:</label>
            <input type="number" id="cateto1" name="cateto1" required><br>
            <label for="cateto2">Cateto 2:</label>
            <input type="number" id="cateto2" name="cateto2" required><br>
            <button type="submit">calcular</button>
        </form>
        <p id="resultado"></p>
    </div>

</body>
</html>